/target/
src/main/history/dependencies.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/org.openhab.io.yandexalice.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/compiler.xml
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
/.idea/uiDesigner.xml
