<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">
	<config-description uri="io:yandexalice">
		<!-- <parameter name="token" type="text" required="false"> -->
		<!-- <label>Yandex token</label> -->
		<!-- <description>You can get it at -->
		<!-- https://yandex.ru/dev/dialogs/smart-home/doc/reference-alerts/resources-alerts.html</description> -->
		<!-- </parameter> -->
		<parameter name="skillID" type="text" required="false">
			<label>Yandex skill id</label>
			<description>You can get it at
				https://dialogs.yandex.ru/developer/ your skill, bottom side, copy</description>
			<context>password</context>
			<advanced>true</advanced>
		</parameter>
		<parameter name="oauth" type="text" required="false">
			<label>OAuth Yandex token</label>
			<description>You can get it at
				https://yandex.ru/dev/dialogs/smart-home/doc/reference-alerts/resources-alerts.html</description>
			<context>password</context>
			<advanced>true</advanced>
		</parameter>
	</config-description>
</config-description:config-descriptions>
